.box-container {
  border: 1px solid #3333332b;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0px;
}

.box-title {
  margin-bottom: 10px;
  color: #0000007d;
}

.box-content {
  font-size: 1em;
  color: #333;
  text-align: left;
  overflow-wrap: break-word;
}
